* {
  font-family: "RoadRadio";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
  list-style: none;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-slider-thumb {
  background: #FFF;
}

*::-webkit-scrollbar-thumb {
  background-color: #131514;
  border-radius: 20px;
}

body {
  font-family: "RoadRadio";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
  background-size: 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  list-style: none;
  color: #131514;
}
body.locked {
  overflow: hidden;
}

h1 {
  font-size: 44px;
  font-weight: 700;
}

h2 {
  font-size: 42px;
  font-weight: 400;
}

h3 {
  font-size: 23px;
  font-weight: 400;
}

@media screen and (max-width: 1060px) {
  h1 {
    font-size: 23px;
    font-weight: 700;
  }
  h2 {
    font-size: 18px;
    font-weight: 400;
  }
  h3 {
    font-size: 16px;
    font-weight: 400;
  }
}
img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

a {
  color: #131514;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

/*button */
button {
  outline: none;
  border: none;
  cursor: pointer;
}

.btn__1 {
  width: 100%;
  max-width: 200px;
  padding: 20px;
  background: #71C3B8;
  color: #FFF;
  border-radius: 15px;
  text-align: center;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px solid;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn__1:hover {
  -webkit-box-shadow: inset 0 0 0 1px #71C3B8;
          box-shadow: inset 0 0 0 1px #71C3B8;
  background: transparent;
  color: #131514;
}

.btn__2 {
  text-align: center;
  width: 100%;
  max-width: 200px;
  padding: 20px;
  border: 1px solid #25D366;
  color: #131514;
  border-radius: 15px;
  font-size: 16px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn__2:hover {
  background: #25D366;
}

.btn__3 {
  text-align: center;
  width: 100%;
  max-width: 200px;
  padding: 20px;
  border: 1px solid #71C3B8;
  color: #131514;
  border-radius: 15px;
  font-size: 16px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.btn__3:hover {
  background: #71C3B8;
}

.tel a {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  position: relative;
}
.tel a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  height: 1px;
  background: #131514;
}
.tel a:hover::before {
  width: 100%;
}

@media screen and (max-width: 1060px) {
  .btn__1 {
    padding: 15px;
  }
  .btn__2 {
    padding: 15px;
  }
}
/*header*/
header {
  background: rgba(255, 255, 255, 0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px 0 0 0;
  width: 100%;
  margin: 0 auto;
  max-width: 1470px;
  position: relative;
}
header .burger {
  display: none;
}
header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 120px;
  margin-right: auto;
}
header nav {
  margin-right: 108px;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 33px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header nav ul li {
  font-size: 16px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
header nav ul li a {
  color: #131514;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #1DAC98;
}
header nav ul li a.vision {
  color: #1DAC98;
}
header .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 44px;
}
header .contact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .contact__item .pulse {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .contact__item .pulse p {
  font-size: 14px;
}
header .contact__item .pulse::before {
  opacity: 1;
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: #61E56E;
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  margin-right: 4px;
}
header .contact__item .sochial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
}
header .contact__item .sochial a svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .contact__item .sochial a svg:hover {
  scale: 1.05;
}
header .contact__item .time {
  margin-bottom: 6px;
}
header .contact__item .time p {
  font-size: 13px;
  color: #777C90;
  max-width: 148px;
}
header .contact__item .tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .contact__item .tel a {
  color: #131514;
  text-decoration: none;
}

.submenu {
  display: none;
}

@media screen and (max-width: 1400px) {
  header {
    padding: 15px 15px 0 15px;
  }
  header .logo {
    max-width: 120px;
    margin-right: 0;
  }
  header nav {
    margin: 0 auto;
  }
  header .contact__item {
    margin: 0;
  }
  header .contact__item:last-child {
    display: none;
  }
}
@media screen and (max-width: 1060px) {
  header {
    overflow-x: hidden;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .logo {
    margin-right: 0;
    max-width: 70px;
  }
  header nav {
    display: none;
  }
  header .contact {
    display: none;
  }
  header .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3px;
    padding: 5px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    background: #f3f3f3;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 2;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  header .burger span {
    background: #71C3B8;
    width: 100%;
    height: 2px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  header .burger.active {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  header .burger.active span:nth-child(1) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    position: absolute;
  }
  header .burger.active span:nth-child(2) {
    opacity: 0;
  }
  header .burger.active span:last-child {
    position: absolute;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translateX(140%);
            transform: translateX(140%);
    position: fixed;
    width: 100%;
    background: #FFF;
    max-width: 320px;
    height: 100vh;
    padding: 50px 15px 15px 15px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    right: 0;
    top: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .submenu.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0%);
            transform: translate(0%);
    -webkit-box-shadow: 0 0 5px 0px #d3d3d3;
            box-shadow: 0 0 5px 0px #d3d3d3;
  }
  .submenu nav {
    margin-bottom: 30px;
  }
  .submenu nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .submenu nav ul li a {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .submenu nav ul li a:hover {
    color: #1DAC98;
  }
  .submenu .contact__item {
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .submenu .contact__item .tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5px;
  }
  .submenu .contact__item .sochial a {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .submenu .contact__item .sochial a svg {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .submenu .contact__item .sochial a:hover svg {
    scale: 1.05;
  }
}
.container {
  max-width: 1470px;
  margin: 0 auto;
  width: 100%;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 1500px) {
  .container {
    padding: 0 15px;
  }
}
/*Modal form*/
.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.1882352941);
}
.modal.active {
  opacity: 1;
  visibility: visible;
}
.modal__body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 894px;
  background: #FFF;
  border-radius: 20px;
  padding: 45px 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.modal__body .modal__close {
  position: absolute;
  top: 43px;
  right: 52px;
  cursor: pointer;
}
.modal__body .modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal__body .modal__content .modal__title {
  margin-bottom: 10px;
  font-size: 29px;
  font-weight: 700;
  max-width: 350px;
}
.modal__body .modal__text {
  margin-bottom: 17px;
  font-size: 19px;
  line-height: 30px;
  max-width: 358px;
}
.modal__body #call__me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 350px;
}
.modal__body #call__me p {
  margin-bottom: 5px;
  font-size: 11px;
  line-height: 24px;
}
.modal__body #call__me .custom__select {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  border: 1px solid #DADADA;
  border-radius: 200px;
  position: relative;
  max-height: 69px;
  padding-top: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}
.modal__body #call__me .custom__select::before {
  content: "";
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 30px;
  background-image: url("data:image/svg+xml,%3Csvg width='9' height='6' viewBox='0 0 9 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.99992 0.892428C8.99992 1.03267 8.94983 1.15789 8.84966 1.26809L5.09309 5.02465C4.9829 5.13485 4.85768 5.18994 4.71744 5.18994C4.57719 5.18994 4.45197 5.13485 4.34178 5.02465L0.585211 1.26809C0.475018 1.15789 0.419922 1.03267 0.419922 0.892428C0.419922 0.752183 0.475018 0.626965 0.585211 0.516772C0.695404 0.406579 0.820622 0.351483 0.960868 0.351483H8.474C8.61425 0.351483 8.73947 0.406579 8.84966 0.516772C8.95985 0.626965 9.00994 0.752183 8.99992 0.892428Z' fill='%23333333'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  width: 9px;
  height: 5px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.modal__body #call__me .custom__select.active {
  border-radius: 20px;
  max-height: 400px;
}
.modal__body #call__me .custom__select.active::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.modal__body #call__me .custom__select.active .custom__options span {
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.modal__body #call__me .custom__select.active .custom__options span:first-child {
  border-top: 1px solid #DADADA;
}
.modal__body #call__me .custom__select.active .custom__options span:hover {
  background: #dedede;
}
.modal__body #call__me .custom__select span {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 21px;
  font-size: 14px;
}
.modal__body #call__me .custom__select .custom__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal__body #call__me .custom__select .custom__options span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid #DADADA;
}
.modal__body #call__me .custom__select .custom__options span:last-child {
  border-bottom: 0;
}
.modal__body #call__me input {
  padding: 29px 21px;
  border: 1px solid #EBEBEB;
  color: #7A7A7A;
  font-size: 13px;
  border-radius: 200px;
  margin-bottom: 20px;
}
.modal__body #call__me input::-webkit-input-placeholder {
  color: #7A7A7A;
  font-size: 13px;
}
.modal__body #call__me input::-moz-placeholder {
  color: #7A7A7A;
  font-size: 13px;
}
.modal__body #call__me input:-ms-input-placeholder {
  color: #7A7A7A;
  font-size: 13px;
}
.modal__body #call__me input::-ms-input-placeholder {
  color: #7A7A7A;
  font-size: 13px;
}
.modal__body #call__me input::placeholder {
  color: #7A7A7A;
  font-size: 13px;
}
.modal__body #call__me button {
  max-width: 100%;
}
.modal__body img {
  max-width: 388px;
}

@media screen and (max-width: 834px) {
  .modal__body .modal__close {
    top: 20px;
    right: 20px;
  }
  .modal__body img {
    display: none;
  }
}
#thanks .modal__body {
  max-width: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
#thanks .modal__body .modal__content {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#thanks .modal__body .modal__content .modal__title {
  font-size: 28.69px;
  text-align: center;
  margin-bottom: 11px;
}
#thanks .modal__body .modal__content .modal__text {
  color: #777C90;
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
}
#thanks .modal__body .modal__content .sochial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 24px;
}
#thanks .modal__body .modal__content img {
  max-width: 368px;
}

#politic .modal__body {
  padding: 40px;
  height: 80vh;
  max-width: 480px;
  overflow: hidden;
}
#politic .modal__body .modal__close {
  top: 20px;
  right: 20px;
}
#politic .modal__body .modal__content {
  overflow-y: scroll;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
#politic .modal__body .modal__content::-webkit-scrollbar {
  width: 5px;
}
#politic .modal__body .modal__content::-webkit-slider-thumb {
  background: #FFF;
}
#politic .modal__body .modal__content::-webkit-scrollbar-thumb {
  background-color: #131514;
  border-radius: 20px;
}

/*text decoration*/
.decor {
  border: 4px solid #8ADED2;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
}

/* main block*/
.main {
  margin: 170px 0 220px 0;
}
.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
}
.main__wrapper__item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main__wrapper__item:first-child .main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  margin-bottom: 17px;
}
.main__wrapper__item:first-child .main__info p {
  margin: 0;
  font-size: 16px;
}
.main__wrapper__item:first-child h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 5px;
  margin-bottom: 30px;
}
.main__wrapper__item:first-child h1 span {
  max-width: 251px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 47px;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1px;
}
.main__wrapper__item:first-child p {
  font-size: 24px;
  margin-bottom: 57px;
}
.main__wrapper__item:first-child .main__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}
@media screen and (max-width: 1400px) {
  .main {
    margin: 50px 0;
  }
  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main__wrapper__item:first-child h1 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__wrapper__item:first-child .main__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main__wrapper__item:last-child svg {
    width: 100%;
    height: auto;
    max-width: 100%;
  }
}
@media screen and (max-width: 1060px) {
  .main {
    margin: 50px 0 50px 0;
  }
  .main__wrapper {
    gap: 20px;
  }
  .main__wrapper__item:first-child .main__info {
    margin-bottom: 15px;
  }
  .main__wrapper__item:first-child h1 {
    margin-bottom: 20px;
  }
  .main__wrapper__item:first-child h1 span {
    height: 30px;
  }
  .main__wrapper__item:first-child p {
    margin-bottom: 15px;
  }
  .main__wrapper__item:first-child .main__buttons {
    gap: 15px;
  }
}
.our_goal {
  margin-bottom: 108px;
}
.our_goal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.our_goal__wrapper__item:first-child img {
  width: 100%;
  max-width: 595px;
}
.our_goal__wrapper__item:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 591px;
}
.our_goal__wrapper__item:last-child span {
  color: #333333;
  font-size: 16px;
  margin-bottom: 18px;
}
.our_goal__wrapper__item:last-child h2 {
  margin-bottom: 32px;
}
.our_goal__wrapper__item:last-child p {
  color: #777C90;
  font-size: 16px;
  margin-bottom: 40px;
}

@media screen and (max-width: 1060px) {
  .our_goal {
    margin-bottom: 50px;
  }
  .our_goal__wrapper {
    gap: 20;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .our_goal__wrapper__item:last-child h2 {
    margin-bottom: 15px;
  }
}
.gallery {
  margin-bottom: 100px;
}
.gallery__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.gallery__wrapper__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 26px;
  margin-bottom: 19px;
}
.gallery__wrapper__quote img {
  width: 100%;
  max-width: 170px;
}
.gallery__wrapper__quote q {
  text-align: center;
  max-width: 838px;
  font-size: 14px;
  font-weight: 300;
}
.gallery__wrapper__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  margin-bottom: 62px;
}
.gallery__wrapper__title h2 {
  font-weight: 300;
  line-height: 61.6px;
  max-width: 933px;
  text-align: center;
}
.gallery__wrapper__title h3 {
  font-size: 22px;
  font-weight: 300;
  max-width: 617px;
  text-align: center;
}
.gallery__wrapper__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.gallery__wrapper__pictures a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(25% - 8px);
  height: auto;
}
@media screen and (max-width: 1060px) {
  .gallery {
    margin-bottom: 50px;
  }
  .gallery__wrapper__title {
    gap: 15px;
    margin-bottom: 30px;
  }
  .gallery__wrapper__title h2 {
    line-height: inherit;
  }
  .gallery__wrapper__title h3 {
    font-size: 16px;
  }
  .gallery__wrapper__pictures {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }
  .gallery__wrapper__pictures a {
    width: calc(33.3333333333% - 8px);
  }
}
@media screen and (max-width: 768px) {
  .gallery__wrapper__pictures {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 10px;
  }
  .gallery__wrapper__pictures a {
    width: calc(50% - 8px);
  }
}